<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<!-- 异常消息处理声明 -->
	<bean id="sysMessages" class="com.newtouch.lion.common.resource.impl.SystemMessages">
		 <property name="basename">
		 		<value>message.messages</value>
		 </property>
	</bean>
</beans>
